body {background-color: #a52a2a;
      font-family: Segoe, Verdana, sans-serif;
     max-width: 80%;
     margin: auto;}

header {background-color: red;
       }

h1{color:white;}

nav > ul {line-height:2em;
          list-style-type: none;
          padding-left: 5px;}

#nav_menu ul {list-style-type: none;
              padding: 1em 0;
              text-align: center;
              border-top: 2px solid black;
              border-bottom: 2px solid black;}
#nav_menu ul li {display: inline;
                 padding: 0.5em;}
#nav_menu ul li a {font-weight: bold;
                   color: blue;}
#nav_menu ul li a.current {text decoration: none;}

main {width: 66%;
      height: 350px;
      border-right: 2px solid #ef9c00;
      float: left;
     min-height: 100vh;
     display: flex;
     flex-direction: column;}

.wrapper {flex: 1;}

aside {width: 33%;
       float: right;}

section {background-color: #006400;
         width: 75%;
         font-size: 1.2em;}

footer {background-color: #87cefa;}

